version: '3.5'

services:
  easy-admin-app:
    container_name: easy-admin-app
    build:
      context: ./docker
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=easy-admin-server
    ports:
      - '1000:8000'
    networks:
      - easy-admin-network
    depends_on:
      - easy-admin-mysql

  easy-admin-mysql:
    container_name: easy-admin-mysql
    image: mysql:8.0.26
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: easy-admin
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - easy-admin-mysql-data:/var/lib/mysql
    networks:
      - easy-admin-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

networks:
  easy-admin-network:

volumes:
  easy-admin-mysql-data:

